/* reset project */

body {
    margin: 0px;
    background-color: grey;
}

div {
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* typography */

div.largetext {
    font-size: 100px;
    line-height:90px;
}

div.mediumtext {
    font-size:32px;
    line-height:34px;
}

div.smalltext {
    font-size:16px;
    line-height:19px;
}

div.sans {
    font-family: Arial, Helvetica, sans-serif;
}

div.serif {
    font-family: 'Times New Roman', Times, serif;
}

div.mono {
    font-family: 'Courier New', Courier, monospace;
}

/* color */

div.textgrey {
    color: grey;
}

div.textgreen {
    color: green;
}

div.bgbrown {
    background-color: brown;
}

div.bgwood {
    background-color: burlywood;
}

/* layout */

div.width100 {
    width: 100%;
}

div.width80 {
    width: 80%;
}

div.width75 {
    width: 75%;
}

div.width60 {
    width: 60%;
}

div.width66 {
    width:66.66%;
}

div.width50 {
    width: 50%;

}

div.width33 {
    width:33.33%;
}

div.width25 {
    width:25%;
}

div.width20 {
    width: 20%;
}

div.container {
    display: flex;
    flex-wrap: wrap;
}

div.title {
    color:brown;
    text-align: center;
    font-style: italic;
}