@font-face {
    font-family: B;
    src: url(Berzulis-PIZIUS.woff);
}

@font-face {
    font-family: text;
    src: url(Gulax-Regular.woff);
}

@font-face {
    font-family: text1;
    src: url(Anthony.woff);
}
/* reset project */

body {
    margin: 0px;
    background-color: greenyellow;
}

div {
    box-sizing: border-box;
}

img {
    width: 100%;
}

/* typography */

div.largetext {
    font-size: 100px;
    line-height:90px;
}

div.mediumtext {
    font-size:50px;
    line-height:45px;
}

div.smalltext2 {
    font-size: 26px;
    line-height: 24px;
}

div.smalltext {
    font-size:20px;
    line-height:18px;
}

div.B {
    font-family: 'B';
}

div.text {
    font-family: 'text';
}

div.mono {
    font-family: 'Courier New', Courier, monospace;
}

div.center {
    text-align: center;
}

div.left {
    text-align: left;
}

div.right{
    text-align: right;
}

div.putleft {
    margin-right: auto;
}

div.putright {
    margin-left: auto;
}




/* color */

div.textblack {
    color: black;
}

div.textgreen {
    color: greenyellow;
}

div.bgwhite {
    background-color: white;
}

div.bgblack {
    background-color: black;
}

div.bggrey {
    background-color: darkgray;
}

div.bgdarkgrey {
    background-color: grey;
}
/* layout */

div.width100 {
    width: 100%;
}

div.width80 {
    width: 80%;
}

div.width75 {
    width: 75%;
}

div.width70 {
    width: 70%;
}

div.width60 {
    width: 60%;
}

div.width66 {
    width:66.66%;
}

div.width50 {
    width: 50%;

}

div.width40 {
    width: 40%;
}

div.width33 {
    width:33.33%;
}
div.width30 {
    width: 30%;
}

div.width25 {
    width:25%;
}

div.width20 {
    width: 20%;
}

div.container {
    display: flex;
    flex-wrap: wrap;
}

div.container2 {
    display:flex;
    flex-wrap:wrap;
    align-items:flex-start;
  }

div.borderbottom {
    border-bottom: 2px solid black;
}

div.borderright {
    border-right: 2px solid black;

}

div.borderleft {
    border-left: 2px solid black;
}

div.borderdec {
   border-bottom: 10px double black;
   
}

div.border{
    border: 2px solid black;
}

div.borderthick {
    border: 10px solid black;
}

div.padding {
    padding: 10px;
}

div.margintop1 {
    margin-top: 50px;
}

div.margintop2 {
    margin-top: 100px;
}

div.marginbottom {
    margin-bottom: 100px;
}

div.marginright {
    margin-right: 10px;
}

div.overlay {
    position: fixed;
}

div.overlaybottom {
    position: fixed;
    bottom: 10px;
    right: 0px;
}

div.overlayfull {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: url(overlay.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    opacity: 50%;
}

div.button {
    width: 50px;
    margin-right: 50px;
}

